@import '../modules/mod_nav'
$mod_nav()
@import '../modules/mod_right'
$mod_right()
//@import '../modules/mod_title'
//$mod_title()

/* 左边 开始 */
@import '../modules/mod_video'
$mod_video()
@import '../modules/mod_page'
$mod_page()

.videoC_box
  padding 0 15px
.video_list
  padding 18px 15px 0
  overflow hidden
.video_con
  padding 22px 0 0
.csdn-pagination
  padding 20px 0 50px

.video_tit
  margin-right 30px
  line-height 28px
  font-size 18px
  color #53565A
  float left
  display inline-block
.flList
  float left
  overflow hidden
  li
    float left
    display inline-block
    margin 0 8px
    a
      display block
      color #777A7D
      padding 4px 15px
      border-radius 10px
      background-color #ecedeb
      cursor pointer
    &.cur
      a
        color #fff
        background-color #5BB73B
.secto
  color #C8C9C7
  border-bottom 1px solid #D8D8D8
  line-height 30px
  margin 20px 0 10px

@media(min-width:768px)
  .video_list
    padding 0
  .video_con
    padding 28px 0 18px
  .csdn-pagination
    padding 40px 0 142px
/* 左边 结束 */