@import '../modules/mod_nav'
$mod_nav()
@import '../modules/mod_right'
$mod_right()
@import '../modules/mod_title'
$mod_title()
@import '../modules/mod_banner'
$mod_banner()


/* 左边 开始 */

.applyTo_tit
  padding 0 15px
.applyTo_con
  padding-top 18px
.applyTo_list
  padding-bottom 8px
  .applyTo_more01
    display none
  .applyTo_more02
    display inline-block
    width 100%

  .td_con
    width 80.6%
    clear both
    a
      display block
      width 100%
      position relative
      img
        width 100%
      p
        position absolute
        bottom 0
        left 0
        width 100%
        height 38px
        padding 0 20px
        background rgba(51, 51, 51, 0.6)
        .td_txt
          display block
          height 38px
          line-height 38px
          font-size 14px
          z-index 2
          color #fff
        .td_txtCon
          font-size 13px
          line-height 20px
          color #fff
          display none
  ul
    padding 18px 15px 0
    li
      line-height 22px
      font-size 14px
      padding-bottom 5px
      cursor pointer
      a
        color #0071C5
        span
          color #B3B3B3
          margin-right 5px
      a:hover
        color #00AEEF

@media(min-width: 550px)
  .applyTo_list
    ul
      padding 18px 15 0
@media(min-width: 768px)
  .applyTo_tit
    padding 0
  .applyTo_con
    padding 28px 0 0
  .applyTo_list
    padding-bottom 40px
    .td_con
      a:hover
        p
          height 100%
          .td_txtCon
            display block
    ul
      padding 28px 0 0
@media(min-width: 1088px)

  .applyTo_list
    padding-bottom 40px
    .applyTo_more01
      display inline-block
      width 100%
    .applyTo_more02
      display none

//活动专区
.L_foot
  padding 0 15px
.activity_zone
  padding 20px 0
  ul
    padding 15px 0 0
    li
      padding-bottom 5px
      a
        font-size 14px
        line-height 22px
        span
          color #B3B3B3
          margin-right 5px
@media(min-width: 768px)
  .L_foot
    padding 0
  .activity_zone
    padding 0
    ul
      padding 28px 0 0
.content
  padding-top 20px
//视频资讯
.video_infor
  padding-bottom 10px
  a
    img
      width 100%
    p
      padding 15px 0
      font-size 14px
      line-height 18px
      color #666
  .row
    padding-top 22px
    margin-right -10px
    margin-left -10px
  .col-sm-6.col-xs-6
    padding-left 10px
    padding-right 10px
@media(min-width: 768px) and (max-width: 1029px)
  .video_infor
    a
      p
        padding 8px 0 20px
@media(min-width: 1030px)
  .content
    padding-top 20px
  .video_infor
    a
      p
        padding 16px 0 28px
/* 左边 结束 */