$mod_banner()
  /* 轮播图 开始 */
  #carousel-example-generic
    .carousel-indicators
      li
        margin 0
        margin-right 8px
        background-color #fff
        border none
      .active
        margin-right 8px
        background-color #777A7D
    .carousel-inner
      background-color #2d313c
    .carousel-inner > .item >a>img
      display block
      margin 0 auto
      width 100%
  .banner
    padding-bottom 8px

  /* 轮播图 结束 */






