$mod_title()
  /* title 开始 */
  .mod_title
    width 100%
    overflow hidden
    line-height 50px
    background-color #5bb73b
    padding 0 18px
    span
      float left
      color #fff
      font-size 14px
    .more
      display block
      float right
      color #fff
      font-size 13px
  /* title 结束 */