$mod_tuwen()
  .inforL_con
    /* 图文 开始 */
    dl
      padding 0 0 30px
      overflow hidden
      dt
        font-size 16px
        line-height 20px
        a
          color #3D4647
          font-weight bold
      dd
        margin-top 15px
        .col-xs-12
          margin-top 15px
        img
          display block
          width 100%
          border 1px solid #e6e6e6
        .home_list
          width 100%
          margin-top -5px
          p
            font-size 14px
            color #666
            line-height 22px
          .home_list_b
            font-size 12px
            padding-top 10px
            line-height 15px

  @media(min-width: 768px)
    .inforL_con
      dl
        padding 0 0 42px
        dd
          margin-top 24px
  /* 图文 结束 */