$mod_right()
  /* left 开始 */
  // 加入 vuforia 中文社区
  .adimg
    width 100%
  .developer_zone
    border 1px solid #d8d9d7
    border-bottom-width 3px
    padding 20px 15px 28px
    margin-top 32px
    position relative
    .sdkdown
        text-align center
      li
        display inline-block
        margin 0 8px
  .colblo
    position absolute
    top 0
    left 0
  .rightit
    color #3D4647
    font-size 24px
    span
      color #5bb73b
    a
      float right
      color #5BB73B
      font-size 13px
      margin-top 13px

  .developer_zoneTxt
    padding 28px 0 0
    color #777A7D
    font-size 14px
    line-height 22px
  .btn_jion
    font-size 14px
    color #fff
    width 100px
    height 38px
    line-height 38px
    text-align center
    display block
    margin 20px auto 0
    background-color #00ACC8
  .btn_downsdk
    background-color #5bb73b
    display block
    width 190px
    height 38px
    line-height 38px
    color #fff
    font-size 15px
    text-align center
    margin 20px auto 0
    img
      margin-right 15px
  .help
      background-color #F1B434
      width 130px





  @media(min-width:200px) and (max-width:335px)
    .developer_forum
      padding 28px 0 30px
      li
        a
          width 82%
  @media(min-width:768px) and (max-width:929px)
    .developer_forum
      padding 28px 0 30px
      li
        a
          width 78%
    .latest_blog
      padding 28px 0 10px
    .LB_list
      padding-bottom 30px
      h4
        padding-bottom 12px
    .developer_forum
      padding 28px 0 30px
  @media(min-width:930px) and (max-width:1046px)
    .developer_forum
      padding 28px 0 30px
      li
        a
          width 83%
    .latest_blog
      padding 28px 0 10px
    .LB_list
      padding-bottom 30px
      h4
        padding-bottom 12px
    .developer_forum
      padding 28px 0 30px


  @media(min-width:768px)
    .developer_zone,.ad_box,.attention
      display block
    .sdkdown
      li
        margin 0
  @media(min-width:992px)
    .sdkdown
      li
        margin 0 8px
  /* left 结束 */
