$mod_video()
  /* 视频 开始 */
  .videoC_list
    padding-bottom 20px
    img
      width 100%
    p
      font-size 14px
      line-height 18px
      padding-top 10px
      color #777A7D

  @media(min-width :768px)

    .videoC_list
      padding-bottom 28px
      p
        padding-top 18px
  /* 视频 结束 */